[submodule "sites/all/modules/contrib/paragraphs"]
	path = sites/all/modules/contrib/paragraphs
	url = https://git.drupal.org/project/paragraphs.git
[submodule "sites/all/modules/contrib/entity"]
	path = sites/all/modules/contrib/entity
	url = https://git.drupal.org/project/entity.git
[submodule "sites/all/modules/contrib/backup_migrate"]
	path = sites/all/modules/contrib/backup_migrate
	url = https://git.drupal.org/project/backup_migrate.git
	branch = 7.x-3.x
[submodule "sites/all/modules/contrib/inline_entity_form"]
	path = sites/all/modules/contrib/inline_entity_form
	url = https://git.drupal.org/project/inline_entity_form.git
	branch = 7.x-1.x
[submodule "sites/all/modules/contrib/entityreference"]
	path = sites/all/modules/contrib/entityreference
	url = https://git.drupal.org/project/entityreference.git
	branch = 7.x-1.x
[submodule "views"]
	path = sites/all/modules/contrib/views
	url = https://git.drupal.org/project/views.git
	branch = 7.x-3.x
[submodule "sites/all/modules/contrib/devel"]
	path = sites/all/modules/contrib/devel
	url = https://git.drupal.org/project/devel.git
[submodule "sites/all/modules/contrib/admin_menu"]
	path = sites/all/modules/contrib/admin_menu
	url = https://git.drupal.org/project/admin_menu.git
	branch = 7.x-3.x
[submodule "sites/all/modules/contrib/token"]
	path = sites/all/modules/contrib/token
	url = https://git.drupal.org/project/token.git
	branch = 7.x-1.x
[submodule "sites/all/modules/contrib/pathauto"]
	path = sites/all/modules/contrib/pathauto
	url = https://git.drupal.org/project/pathauto.git
	branch = 7.x-1.x
