$tablet: 768px;
$desktop: 1280px;
$mq-tablet: 'only screen and (min-width:' + ($tablet) + ')';
$mq-desktop: 'only screen and (min-width:' + ($desktop) + ')';

@mixin mq($query) { 
	@media #{unquote($query)} {
		@content
	}
}